 * {
    pointer-events: none;
    overflow: hidden;
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
}

/* Dein Bild */
.center-fit {
    display: block;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 105%;
    max-height: 105vh;
    z-index: 1; /* Bild im Hintergrund */
    opacity: 0.8;
}

/* Das Canvas exakt über das Bild legen */
#mapCanvas {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Canvas im Vordergrund */
    background: transparent; /* Wichtig: Bild muss durchscheinen */
    pointer-events: none; /* Klicks gehen durch das Canvas aufs Bild */
}