 body {
	text-align: center;
	color: rgba(224, 230, 235, 0.89);
	font-family: 'Audiowide', cursive;
	background-image: url('../images/bg.jpg');
	background-color: #131415;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}
.column,
.colon {
	display: inline-block;
	vertical-align: top;
	font-size: 86px;
	line-height: 86px;
}
.column {
	-webkit-transition: -webkit-transform 300ms;
	transition: -webkit-transform 300ms;
	transition: transform 300ms;
	transition: transform 300ms, -webkit-transform 300ms;
}
.colon {
	-webkit-transition: -webkit-transform 300ms;
	transition: -webkit-transform 300ms;
	transition: transform 300ms;
	transition: transform 300ms, -webkit-transform 300ms;
	-webkit-transform: translateY(calc(50vh - 43px));
	transform: translateY(calc(50vh - 43px));
}
.colon:after {
	content: ':';
}
.num {
	-webkit-transition: opacity 500ms, text-shadow 100ms;
	transition: opacity 500ms, text-shadow 100ms;
	opacity: 0.025;
}
.num.visible {
	opacity: 1.0;
	text-shadow: 1px 1px 0px #336699;
}
.num.close {
	opacity: 0.35;
}
.num.far {
	opacity: 0.15;
}
.num.distant {
	opacity: 0.1;
}
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/l7gdbjpo0cum0ckerWCdlg_O.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}